
<!DOCTYPE html>
<html lang="fr">
	<head>
		<base href="https://www.sitedudev.com/"/>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, shrink-to-fit=no"/>
<meta name="language" content="fr"/>
<meta name="description" content="Apprendre à développer correctement est la meilleure façon d'apprendre les bases du développement.">
<meta name="keywords" content="sitedudev, php, html, css, sass, développement, tutoriel, tuto, créer, forum, compte, programmation, développer, coder"/>
<meta name="google-site-verification" content="L0YF1aUdinP6fz-VdeOIDJdBi7-iFPj5AFh8tY9N7PM"/>

<meta name='Apple-mobile-web-app-capable' content='yes'>
<meta name="apple-mobile-web-app-title" content="Sitedudev">
<meta name="application-name" content="Sitedudev">
<meta name="msapplication-TileColor" content="#1d2731">
<meta name="msapplication-config" content="https://www.sitedudev.com/public/logos/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<meta property="og:image:width" content="279"/>
<meta property="og:image:height" content="279"/>
<meta property="og:title" content="Sitedudev"/>
<meta property="og:description" content="Apprendre à développer correctement est la meilleure façon d'apprendre les bases du développement."/>
<meta property="og:url" content="https://www.sitedudev.com/"/>
<meta property="og:image" content="https://www.sitedudev.com/public/logos/og-image.jpg"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@LeSiteduDev"/>
<meta name="twitter:title" content="Sitedudev"/>
<meta name="twitter:description" content="Apprendre à développer correctement est la meilleure façon d'apprendre les bases du développement."/>
<meta name="twitter:url" content="https://www.sitedudev.com/"/>
<meta name="twitter:image" content="https://www.sitedudev.com/public/logos/og-image.jpg"/>        <title>Formations - Sitedudev.com</title>        		
		<link rel="canonical" href="https://www.sitedudev.com/formations" />
<link rel="icon" type="image/png" href="https://www.sitedudev.com/public/logos/sdd_30x30.png" />
<link href="https://www.sitedudev.com/css/jquery-ui.theme.min.css" rel="stylesheet" type="text/css"/>
<link href="https://www.sitedudev.com/css/jquery-ui.structure.min.css" rel="stylesheet" type="text/css"/>
<link href="https://www.sitedudev.com/css/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
<link href="https://www.sitedudev.com/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.snow.css" rel="stylesheet">
<!--<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0/dist/quill.snow.css" rel="stylesheet" />-->
<link href="https://www.sitedudev.com/css/quill.mention.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
<link href="https://www.sitedudev.com/css/adblocker.blogads.css" rel="stylesheet" type="text/css">
<link href="https://www.sitedudev.com/css/style1.css" rel="stylesheet" id="change-theme-css" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.sitedudev.com/highlight/styles/monokai-sublime.min.css">
<link rel="apple-touch-icon" sizes="180x180" href="https://www.sitedudev.com/public/logos/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://www.sitedudev.com/public/logos/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://www.sitedudev.com/public/logos/favicon-16x16.png">
<link rel="manifest" href="https://www.sitedudev.com/public/logos/site.webmanifest">
<link rel="mask-icon" href="https://www.sitedudev.com/public/logos/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="https://www.sitedudev.com/public/logos/favicon.ico">
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://www.sitedudev.com/js/automatic_page_loard.js" type="text/javascript"></script>

<script src="https://www.sitedudev.com/highlight/highlight.min.js"></script>
<script src="https://unpkg.com/twemoji@14.0.2/dist/twemoji.min.js" crossorigin="anonymous"></script>
<!--<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>-->
<script src='https://www.google.com/recaptcha/api.js'></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
	<div class="container">
		<a class="navbar-brand" href="https://www.sitedudev.com/" style="background: url(/public/logos/sdd_100x100.png) transparent no-repeat center; background-size: 50px; width: 50px; height: 48px; position: relative">
			<!-- <div style="position: absolute; color: white; padding: 0 7px; border-radius: 6px; background: rgba(243,156,18,9);">Bêta</div> -->
		</a>
		<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav mr-auto">
			    <li class="nav-item">
			    	<a class="nav-link" href="https://www.sitedudev.com/formations" style="font-size: large">Formations</a>
			    </li>
		    	<li class="nav-item">
		    		<a class="nav-link" href="https://www.sitedudev.com/forum" style="font-size: large">Forum</a>
		    	</li>
		    	<li class="nav-item">
		    		<a class="nav-link" href="https://www.sitedudev.com/membres" style="font-size: large">Membres</a>
		    	</li>
		    </ul>
		    <ul class="navbar-nav">
			    				<li class="nav-item">
					<form class="navbar-left">
						<a class="nav-link" href="https://www.sitedudev.com/register" style="font-size: large">S'inscrire</a>
					</form>
				</li>
				<li class="nav-item">
					<a class="nav-link" style="font-size: large; cursor: pointer" data-bs-toggle="modal" data-bs-target=".SignIn">Se connecter</a>
				</li>
						    </ul>
		</div>
	</div>
</nav>
<div class="modal fade SignIn" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="z-index: 9999">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content sign-bd">
			<h3>Se connecter</h3>
			<h5>Veuillez remplir tout les champs.</h5>
			<form method="post">		
				<style>
					input{
						border: 0;
						border-top: 2px solid rgba(206, 214, 224, 0.6) !important; 
						border-bottom: 2px solid rgba(206, 214, 224, 0.6) !important; 
						padding: 10px !important;
						margin-top: -2px !important;
					}
				</style>		
				<input type="email" placeholder="Email" name="mail" id="mail" value="" class="sign-bd-inp" required>
				<input type="password" placeholder="Mot de passe" name="psw" id="psw" value="" class="sign-bd-inp" required>
				<section id="result-search" class="sign-bd-rs"></section>
				<section class="sign-bd-lk">
					<a href="https://www.sitedudev.com/forgot">Mot de passe oublié ?</a>
				</section>
				<div style="padding: 0 10px">
					<div class="switches">
						<input type="checkbox" id="remember" name="remember" > 
						<label for="remember">
							<span>Se souvenir de moi</span>
							<span></span>
						</label>
					</div>
				</div>
				<div style="text-align: center">
					<button type="submit" name="signin" value="signin" id="signin" class="sign-bd-btn">Connexion <i class="fa fa-angle-double-right"></i></button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	var is_connect = false;

	$("#signin").click(function(e){
		if(!is_connect){
			e.preventDefault();

			$('#search-user').html('');
			$('#result-search').html('');
			
			var mail = $('#mail').val();
			var psw = $('#psw').val();
			var remember = $('#remember:checked').val();
			
			if(mail != "" && psw!= ""){
				$.ajax({
					type: 'POST',
					url: 'https://www.sitedudev.com/function/verif_signin',
					data: 'mail=' + encodeURIComponent(mail) + '&psw=' + encodeURIComponent(psw) + '&remember=' + encodeURIComponent(remember),
					success: function(data){
						if(data){
							var response = data.location;
							if(data.ok == 1){
								//is_connect = true;
								//document.getElementById('signin').click()
								var urlcourante = document.location.href;
								window.location.href = urlcourante
						
							}else if(response){
								//console.log(response);
								window.location.href = response;
							}else{
								$("#result-search").append(data);
								$("#result-search").show();
							}
						}
					}
				});
			}
		}
	});					
</script>
<div id="see-return-toast"></div>
<main>
	<section class="glass"></section>
</main>		<div class="cours__section__body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-12 col-xl-12">
						<div class="cours__section__title">Apprenez à développer</div>
						<div class="cours__section__desc">Parcourez nos différents cours sans modération</div>
						<form method="get" class="cours__section__form" action="https://www.sitedudev.com/formations/search">
							<div class="cours__section__search">					
								<input type="text" name="q" placeholder="Rechercher un article ...">
								<button type="submit" class="cours__section__search__btn">
									<i class="bi bi-search"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<svg class="cours__section__svg" width="100%" height="70" viewBox="0 0 100 100" preserveAspectRatio="none">
		  <path id="wavepath" d="M0,0  L110,0C35,150 35,0 0,100z" fill="#0081CF"></path>
		</svg>
		<div class="cours__section1">
			<div class="container">
				<div class="col-12 col-md-12 col-xl-12">
					<div class="cours__section1__body">
						<div class="cours__section1__title">Apprendre les bases</div>
						<div class="cours__section1__desc">Débutant et tu ne sais pas par où commencer ? Alors ce cours est fait pour toi !</div>
						<a class="cours__section1__btn" href="https://www.sitedudev.com/formations/bases">Apprendre les bases</a>
					</div>
				</div>
			</div>
		</div>
		<div class="cours__section2">
			<div class="container">
				<div class="row"> 
					<div class="col-12 col-md-6 col-xl-6">
						<div class="cours__section2__body">
							<div class="cours__section2__title">HTML</div>
							<div class="cours__section2__desc">Un langage pour construire une page web</div>
							<a class="cours__section2__btn" href="https://www.sitedudev.com/cours/html">Apprendre le HTML</a>
						</div>
					</div>
					<div class="col-12 col-md-6 col-xl-6">
						<div class="cours__section2__body">
							<div class="cours__section2__title">CSS</div>
							<div class="cours__section2__desc">Un langage pour habiller ta page web</div>
							<a class="cours__section2__btn" href="https://www.sitedudev.com/cours/css">Apprendre le CSS</a>
						</div>
					</div>
					<div class="col-12 col-md-6 col-xl-6">
						<div class="cours__section2__body">
							<div class="cours__section2__title">PHP</div>
							<div class="cours__section2__desc">Un langage de programmation côté serveur</div>
							<a class="cours__section2__btn" href="https://www.sitedudev.com/cours/php">Apprendre le PHP</a>
						</div>
					</div>
					<div class="col-12 col-md-6 col-xl-6">
						<div class="cours__section2__body">
							<div class="cours__section2__title">MySQL</div>
							<div class="cours__section2__desc">Un langage de requêtes</div>
							<a class="cours__section2__btn" href="https://www.sitedudev.com/cours/sql">Apprendre le MySQL</a>
						</div>
					</div>
					<div class="col-12 col-md-6 col-xl-6">
						<div class="cours__section2__body">
							<div class="cours__section2__title">JavaScript</div>
							<div class="cours__section2__desc">Un langage d'interaction avec les pages web</div>
							<a class="cours__section2__btn" href="https://www.sitedudev.com/cours/js">Apprendre le JS</a>
						</div>
					</div>
					<div class="col-12 col-md-6 col-xl-6">
						<div class="cours__section2__body">
							<div class="cours__section2__title">SASS</div>
							<div class="cours__section2__desc">Un langage pour organiser son code CSS</div>
							<a class="cours__section2__btn" href="https://www.sitedudev.com/cours/sass">Apprendre le SASS</a>
						</div>
					</div>
					<div class="col-12 col-md-6 col-xl-3"></div>
					<div class="col-12 col-md-6 col-xl-6">
						<div class="cours__section2__body">
							<div class="cours__section2__title">APACHE - htaccess</div>
							<div class="cours__section2__desc">Un langage qui vous facilite la vie</div>
							<a class="cours__section2__btn" href="https://www.sitedudev.com/cours/htaccess">Apprendre le APACHE</a>
						</div>
					</div>
					<div class="col-12 col-md-12 col-xl-12" style="margin-top: 40px">
						<div id="adblocker" class="adblocker">
							<div>Cette pub permet au site de vivre ... <i class="bi bi-emoji-frown"></i></div>
						</div>			
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<ins class="adsbygoogle"
							 style="display:inline-block;width:100%;height:100px"
							 data-ad-client="ca-pub-3387159355069076"
							 data-ad-slot="7213887024"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				</div>
			</div>
		</div>
		<div class="cours__section3">
			<div class="container">
				<div class="col-12 col-md-12 col-xl-12">
					<div class="cours__section1__body">
						<div class="cours__section1__title">Créer son site de A à Z</div>
						<div class="cours__section1__desc">Découvre à travers ce cours comment développer pas à pas un site</div>
						<a class="cours__section1__btn" href="https://www.sitedudev.com/cours/creer-son-site">Accéder</a>
					</div>
				</div>
			</div>
		</div>
		<div class="cours__section4">
			<div class="container">
				<div class="col-12 col-md-12 col-xl-12">
					<div class="cours__section1__body">
						<div class="cours__section1__title">Créer son site de rencontres</div>
						<div class="cours__section1__desc">Découvre à travers ce cours comment développer pas à pas un site de recontre</div>
						<a class="cours__section1__btn" href="https://www.sitedudev.com/cours/creer-son-site-de-rencontres">Accéder</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container ind-presen">
			<div class="row">
				<div class="col-12 col-md-12 col-xl-12" style="margin-top: 40px; margin-bottom: 40px;">
					<div id="adblocker" class="adblocker">
						<div>Cette pub permet au site de vivre ... <i class="bi bi-emoji-frown"></i></div>
					</div>			
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<ins class="adsbygoogle"
						 style="display:inline-block;width:100%;height:100px"
						 data-ad-client="ca-pub-3387159355069076"
						 data-ad-slot="7213887024"></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>
		</div>
				<svg style="background-color:#0081CF;" width="100%" height="70" viewBox="0 0 100 100" preserveAspectRatio="none">
		  <path id="wavepath" d="M0,0  L110,0C35,150 35,0 0,100z" fill="#f9f9f9"></path>
		</svg>
		<div class="cours__section5">
			<div class="container ind-presen">
				<div class="row">
					<div class="col-12 col-md-12 col-xl-12" style="margin: 20px 0">
						<div class="article__title__other">
							Articles aléatoires
						</div>
						<div class="row">
													<div class="col-12 col-md-6 col-xl-4" style="margin: 10px 0; display: flex">
								<div class="article__card">
									<div class="article__card__header">
										<a href="https://www.sitedudev.com/cours/creer-son-site/7afa3be32184497c9cf17f39a51e0ba8">
											<img src="https://www.sitedudev.com/public/categories/st-programmation.png" class="article__card__img"/>
										</a>
										<div style="background-image: url(https://www.sitedudev.com/public/categories/st-programmation.png)" class="article__card__img__sh"></div>
									</div>
									<div class="article__card__body">
										<span style="background-image: linear-gradient(310deg, #1da1f2, #0e71c8); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; position: relative; z-index: 1;">Cr&eacute;er son site</span>
										<div class="article__card__title">Introduction</div>
									</div>
								</div>
							</div>
													<div class="col-12 col-md-6 col-xl-4" style="margin: 10px 0; display: flex">
								<div class="article__card">
									<div class="article__card__header">
										<a href="https://www.sitedudev.com/cours/creer-son-site/d6ee87d74004454abd2a0fa233aa2b59">
											<img src="https://www.sitedudev.com/public/categories/st-programmation.png" class="article__card__img"/>
										</a>
										<div style="background-image: url(https://www.sitedudev.com/public/categories/st-programmation.png)" class="article__card__img__sh"></div>
									</div>
									<div class="article__card__body">
										<span style="background-image: linear-gradient(310deg, #1da1f2, #0e71c8); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; position: relative; z-index: 1;">Cr&eacute;er son site</span>
										<div class="article__card__title">Déconnexion PHP</div>
									</div>
								</div>
							</div>
													<div class="col-12 col-md-6 col-xl-4" style="margin: 10px 0; display: flex">
								<div class="article__card">
									<div class="article__card__header">
										<a href="https://www.sitedudev.com/cours/creer-son-site/ee330b427bbb47f4993cf58b027861e5">
											<img src="https://www.sitedudev.com/public/categories/st-programmation.png" class="article__card__img"/>
										</a>
										<div style="background-image: url(https://www.sitedudev.com/public/categories/st-programmation.png)" class="article__card__img__sh"></div>
									</div>
									<div class="article__card__body">
										<span style="background-image: linear-gradient(310deg, #1da1f2, #0e71c8); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; position: relative; z-index: 1;">Cr&eacute;er son site</span>
										<div class="article__card__title">Visiter un profil PHP</div>
									</div>
								</div>
							</div>
												</div>
					</div>		
				</div>
			</div>
		</div>		
			
		<footer>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 col-xl-3">
				<div class="footer__title">
					Me suivre
				</div>
				<div class="foot-bod-ico">
					<a href="https://twitter.com/LeSiteduDev" target="_blank" class="social-cust social-cust-tw">
						<i class="bi bi-twitter-x"></i>
					</a>
					<a href="https://www.youtube.com/channel/UCmJ6Z6gXjjylSVbPoBvj-ow" target="_blank" class="social-cust social-cust-yb">
						<i class="bi bi-youtube"></i>
					</a>
					<a href="https://www.facebook.com/sitedudev/" target="_blank" class="social-cust social-cust-fb">
						<i class="bi bi-facebook"></i>
					</a>
					<a href="https://discord.gg/myu8WY5" target="_blank" class="social-cust social-cust-dc">
						<i class="bi bi-discord"></i>
					</a>
				</div>
			</div>
			<div class="col-12 col-md-6 col-xl-2">
				<div class="footer__title">
					Aidez le site
				</div>
				<div class="foot-bod-ico">
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick" />
						<input type="hidden" name="hosted_button_id" value="RZ7KHWFLTGKCL" />
						<button type="submit" border="0" name="submit" title="PayPal" class="social-cust social-cust-tw">
							<i class="fab fa-paypal"></i>
						</button>
					</form>
				</div>
			</div>
			<div class="col-12 col-md-6 col-xl-2">
				<div class="footer__title">
					Lien d'affiliation
				</div>
				<div class="foot-bod-ico">
					<a href="https://go.nordvpn.net/aff_c?offer_id=15&aff_id=69520&url=https://nordvpn.com/fr/special/" target="_blank" class="social-cust social-cust-dc" style="	border-radius: 6px; padding: 4px;">
						<img class="social-cust-img" src="https://www.sitedudev.com/public/partners/NordVPN/logo_vertical-original.svg" title="NordVPN">
					</a>
				</div>
			</div>
			<div class="col-12 col-md-6 col-xl-3">
				<div class="footer__title">
					Actuellement
				</div>
								<div class="footer__others">
					4 visiteurs				</div>
				<div class="footer__others">
					0 en ligne				</div>
			</div>
			<style type="text/css">
					.footer__others{
						font-weight: 500;
					}
				</style>
			<div class="col-12 col-md-6 col-xl-2">
				<div class="footer__title">
					Autres
				</div>
				<div class="footer__others">
					<a href="https://www.sitedudev.com/a-propos">À propos</a> 
				</div>
				<div class="footer__others">
					<a href="https://www.sitedudev.com/contact">Nous contacter</a>
				</div>
				<div class="footer__others">
					<a href="https://www.sitedudev.com/cgu">CGU</a>
				</div>
				<div class="footer__others">
					<a href="https://www.sitedudev.com/maj">MAJ</a>
				</div>
							</div>
			<div class="col-12 col-md-12 col-xl-12">
				<div class="footer__footer">
					© 2017 - 2024 Sitedudev 
				</div>
			</div>
		</div>
	</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js.map"></script>
<script src="https://www.sitedudev.com/js/bootstrap.bundle.min.js"></script>
<script src="https://www.sitedudev.com/js/register.js"></script>
<!--<script src="https://www.sitedudev.com/js/blockadblock.js"></script> 	-->
<script>
	
	var toastElList = [].slice.call(document.querySelectorAll('.toast'));
	var toastList = toastElList.map(function (toastEl) {
	  return new bootstrap.Toast(toastEl, {animation: true, autohide: true, delay: 5000})
	})

	function Toastshow(e){
		e.show()
	}
	
	$('.form-ax-theme').click(function() {
		var theme = $(this).data('theme')
		var toastElList1
		var toastList1
		var e1
		
		$.ajax({
			url : 'https://www.sitedudev.com/ajax/theme',
			method : 'POST',
			dataType : "json",
			data: {theme: theme},

			success : function(data){
				e1 = document.getElementById('see-return-toast');
				e1.innerHTML = ""

				$("#see-return-toast").append(data[0]);
				
				if(data){
					toastElList1 = [].slice.call(document.querySelectorAll('.toast'));
					toastList1 = toastElList1.map(function (toastEl1) {
					  return new bootstrap.Toast(toastEl1, {animation: true, autohide: true, delay: 5000})
					})
					toastList1.forEach(Toastshow);
					document.getElementById('change-theme-css').href = data[1];
				}
			},
			
			error : function(e, xhr, s) {
				let error = e.responseJSON;
				if(typeof error !== 'undefined') {
					alert('Erreur 403');
				}else { 
					alert('Erreur ajax');	
				}		
			}
		});
	});
	
</script>
<script>
	$(document).ready(function(){
		function myFunction(x) {
		    x.classList.toggle("change");
		}

		var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
		var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
			return new bootstrap.Tooltip(tooltipTriggerEl)
		})
		
		var message_prevent_xss = "Il s’agit d’une fonctionnalité de navigateur conçue pour les développeurs. Si quelqu’un vous a invité(e) à copier-coller quelque chose ici pour activer une fonctionnalité ou soit-disant pirater le compte d’un tiers, sachez que c’est une escroquerie permettant à cette personne d’accéder à votre compte Sitedudev."
		console.log("%cAttention !", "font-weight:bold;color:red;font-size:20px");
		console.log("%c" + message_prevent_xss, "font-weight:bold;font-size:16px");
	});
</script>	</body>
</html>
		